* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
.item1 { grid-area: header;
background-color: aqua;}
.item2 { grid-area: left;
background-color: rgb(216, 223, 180);}
.item3 { grid-area: main;
background-color: rgb(247, 126, 226);}
.item4 { grid-area: right;
background-color: chartreuse;}
.item5 { grid-area: footer;
background-color: cornflowerblue;}

.grid-container {
  display: grid;
  padding: 70px 30px;
  grid-template-columns: 10% 26% 26% 26% 10%;
  grid-template-areas: 
  'header header header header header'
  'left main main main right'
  'footer footer footer footer footer';
   justify-content: space-between;
  grid-template-rows:auto;

gap: 30px;
background-color: rgba(159, 201, 252, 0.804);

}
.item1,.item2,.item3,.item4,.item5 {
padding: 70px 10px;
color: aliceblue;
text-align: center;

}



