.book-container {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  background-color: #efefef;
  gap: 40px;
}
.main-text{
  width: 50%;
}
.main-img {
  width: 50%;

}
.main-img img {
  width: 100%;
  display: block;

}
h1 {
font-size: 45px;
margin: 10px 0px;
}
.main-text p{
font-size: 21px;
color: #808080;
}
.books{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;
  padding: 10px 0;
}
.book img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 20px auto;
}
.books-sections {
padding: 50px;

}
.book-info{
display: flex;
justify-content: space-between;
margin: 7px 0;
}
.book-info span{
color:#00a96c ;
font-weight: 500px;
}
header {
display: flex;
justify-content: space-between;
padding: 20px;
background-color: white;

}
header a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-left: 10px;
  
  
}
.menu{
display: none;
}
.menu span{
 display: block;
 width: 40px;
 height: 4px;
 background-color: black;
 margin: 4px 0;
}
@media(max-width: 600px){
.links{
display: none;

  }
  .menu{
    display: block;
  }
  .links.active{
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #efefef;
  }
  .links.active a{
    display: block;
    margin: 10px;

  }
  .book-container{
    flex-direction: column;
  }
  .main-text, .main-img{
    width: 100%
}
.books{
grid-template-columns: 48% 48%;
}

}
label, input, textarea {
  display: block;


}
form {
  width: 600px;
  margin: 100px auto;
  padding: 40px 25px;
  border: 2px solid #00a96c;
  

}
input, textarea {
  width: 100%;
  padding: 8px;
  border: 2px solid #efefef;
}

label {
  margin-top: 12px;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #00a96c;
  color: white;
  border: none;

}
h6{
  font-size: 25px;
  
}
.contact h1 {
  text-align: center;
}
@media (max-width: 768px){
  .books{
    grid-template-columns: 48% 48%;
  }
}
.about {
  
    display: none;
    }
    .menu span{
     display: block;
     width: 40px;
     height: 4px;
     background-color: black;
     margin: 4px 0;
    }
  
    div.box{
     text-align: center;
     margin-top: auto;
   }
  .text span{
    display: flex;
    align-items: center;
    padding: 50px 100px;
    background-color: #efefef;
    gap: 40px;

  }
   div .button {
    color: #00a96c;
  }
 
  