@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
 header a {
   display: block;
   color: black;
   text-decoration: none;

   }
  .flex-a {
    display: flex;
    gap: 20px;
  }
  main > div {
    min-height: 300px;
    width: 50%;
  }
  .text {
    background-color: ;
  }
.image {
  background-color: ;
}
.main-section {
  display: flex;
  align-items: center;
  padding: 50px 30px;
}
.button1 {
  padding: 10px 20px;
  display: inline-block;
  background-color: #ff4362;
  color: #fff;
  margin-top: 20px;
}
h1{
  margin: 13px 0px;
}

h1 span {
  color: #ff4362;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

label, input, textarea {
  display: block;


}
form {
  width: 600px;
  margin: 100px auto;
  padding: 40px 25px;
  border: 2px solid #ff4362;
  

}
input, textarea {
  width: 100%;
  padding: 8px;
  border: 2px solid #efefef;
}

label {
  margin-top: 12px;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #ff4362;
  color: white;
  border: none;

}
h1 {
text-align: center;
}





/* 1. to put stuff on the same line, target the parent and give it display of flex */
/* 2. to space items in a flex container,we can use the gap property(example; gap: 10px) */
/* 3. to make something start on its own line give it display block */
/* 4. inside spacing is padding */
/* outside spacing is margin */

